{% extends 'includes/base.html' %}
{% load static %}

{% block main %}

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option spad set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>About us</h2>
                        <div class="breadcrumb__links">
                            <a href="{% url 'index' %}">Home</a>
                            <span>About Nett Hands</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- About Section Begin -->
    <section class="about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about__pic">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="about__pic__item about__pic__item--large set-bg"
                                    data-setbg="https://placehold.co/272x490?text=Real+Photo+Of+Ms+Bernadette""></div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="about__pic__item set-bg" data-setbg="https://placehold.co/272x253?text=Real+Photo+Of+Ms+Bernadette"></div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="about__pic__item set-bg" data-setbg="https://placehold.co/272x253?text=Real+Photo+Of+Ms+Bernadette"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__text">
                        <div class="section-title">
                            <h2>Who we are?</h2>
                        </div>

                        <div class="about__text__desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula eget mi et auctor. Suspendisse et venenatis lorem, nec vestibulum sem. Sed maximus elementum neque, et vestibulum leo ornare sed. Nam gravida sapien ligula, ac molestie augue placerat ut. Fusce et semper urna. Sed vestibulum ex sed eros mollis laoreet. Morbi pharetra libero at ullamcorper scelerisque. Cras et velit sed velit gravida volutpat in eget tellus. Pellentesque ultricies nulla ut placerat sodales. Nunc id mi a justo ornare condimentum. Sed aliquet, quam quis malesuada scelerisque, nulla nunc interdum libero, vel malesuada risus eros gravida elit. Nunc et laoreet lorem, eu iaculis leo.</p>

<p>Nulla sodales dui ac orci imperdiet, vitae congue risus cursus. Fusce eget elit nisl. Sed justo nunc, pellentesque non mi in, imperdiet lobortis sapien. Pellentesque luctus viverra hendrerit. Suspendisse facilisis, lacus non pharetra fermentum, metus elit aliquet sem, vitae efficitur urna nulla vel erat. Curabitur aliquet lacus magna, quis mollis dolor aliquet nec. Sed ut lacus sed est elementum sollicitudin vel at metus. Fusce in tincidunt orci. Donec non nunc lacus. Etiam magna ex, porttitor at turpis ac, egestas porttitor enim. Sed vel arcu vitae nisi vehicula semper eget ac risus. Proin ultrices tincidunt lectus quis eleifend. Nunc ultrices pretium eros in ornare.</p>

<p>Donec vel turpis quam. Nullam nec tortor vitae augue vestibulum laoreet a fringilla est. Nunc eu tellus convallis, maximus quam non, sodales sapien. Vivamus quis libero porta, viverra eros sit amet, fermentum libero. Vivamus condimentum tempus velit vitae feugiat. Nulla vulputate ornare elit eu sodales. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi eu est euismod, venenatis nulla eget, molestie elit. Maecenas at ante a nibh posuere auctor sed vitae nisl. Vivamus nec ultricies odio, at lobortis libero.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial spad set-bg" data-setbg="{% static 'img/about-sub-hero.png' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title center-title">
                        <span>Loved By Clients & Employees</span>
                        <h2>What people are saying?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="testimonial__slider owl-carousel">
                    <div class="col-lg-4">
                        <div class="testimonial__item">
                            <div class="testimonial__text">
                                <p>Great place to work! Company has high regards & appreciative to the staff. Good pay rate & flexible work schedule.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial__item">
                            <div class="testimonial__text">
                                <p>Nett Hands is a singular delight. The care and concern shown to my love one was unparrelled. Highly Recommend.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial__item">
                            <div class="testimonial__text">
                                <p>Was so overwhelmed with how loved my family felt with the care that was giving. What a God send business.</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial__item">
                            <div class="testimonial__text">
                                <p>Nett Hands provided in-home care for my mother who had severe dementia. My family was very satisfied with the care and attention they provided her. The caregivers were very personable and cared about Mom's comfort and well-being. The owner Bernadette was very accommodating to our schedule requirements and overall needs. </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial__item">
                            <div class="testimonial__text">
                                <p>Videographer delivers such a great service that it can benefit all kinds of people
                                    from any number.</p>
                            </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->

    {% endblock %}
