{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Applicants {% endblock title %}
{% block content %}

  <div class="header bg-warning pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Employee Roster</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">

            </nav>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Employees</h3>

          </div>
          <!-- Light table -->
                        {% comment %} <ul class="nav nav-tabs">
                <li class="tab nav-item">
                  <a class="nav-link tab active" id="all" aria-current="page" href="#">{{ all_submuission }} Total Applications</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link tab" id="pending" href="#">{{ reviewed }} Applications Reviewed</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link tab" id="reviewed" href="#">{{ unresponsed }} Applications Pending Review</a>
                </li> {% endcomment %}

        </ul>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Employee ID</th>

                  <th scope="col" class="sort" data-sort="budget">First Name</th>
                  <th scope="col" class="sort" data-sort="status">Last Name</th>
                  <th scope="col" class="sort" data-sort="completion">Phone</th>
                  <th scope="col" class="sort" data-sort="reviewed">Hire Date</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">
                {% for employee in employees %}
                    <tr class="employee">
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        {{
                          employee.username
                         }}
                      </div>
                    </div>
                  </th>
<td>
  {{ employee.first_name }}
</td>
                  <td class="budget">
                    {{ employee.last_name }}
                  </td>
                  <td>
      {{ submission.phone }}
 </td>
                  <td>
                    {{ submission.hire_date }}
                  </td>
                  <td>
                    <a class="btn btn-secondary" href="{% url 'roster-profile' pk=employee.id %}">Employee Details</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- Card footer -->
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination__list pagination justify-content-end mb-0">
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
